/*RESET*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

ul {
  list-style: none;
}
/*
  *
*/
/*NAVBAR*/
.navbar {
  background-color: black;
  padding: 5px 0px 5px 0px;
}

.logo {
  width: 130px;
  display: inline;
  margin: 20px 0px 30px 10%;
}

.logo img {
  width: 130px;
  padding: 15px 0px 15px 0px;
}

.btMenu {
  background: none;
  float: right;
  font-size: 25px;
  margin: 20px 10% 0px 0px;
}

.navbar-itens {
  display: none;
  background-color: black;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar ul {
  margin: 120px 0px 0px 0px;
}

.btFechar {
  background: none;
  font-size: 35px;
  float: right;
  margin: 30px 10px 30px 0px;
}
.navbar-itens a,
li {
  font-size: 20px;
  text-align: right;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin: 50px 10px 50px 0px;
}

.navbar-itens a:hover {
  color: #00d355;
  border-bottom: 2px solid #00d355;
}
/*FIM - NAVBAR*/
/*
  *
*/
/*SECTION1 - MÚSICA PARA TODOS*/
.section1 {
  background-color: #00a140;
}

.recuo {
  padding: 80px 10% 80px 10%;
}

.main h4 {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.main h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

.main p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.button {
  width: 100%;
  text-align: center;
  margin: 40px 0px 40px 0px;
}

.button button {
  background-color: black;
  width: 100%;
  padding: 15px 0px 15px 0px;
  border-radius: 100px;
  font-weight: 600;
}

.button button:hover {
  color: #00d355;
}
.main small {
  text-align: left;
  font-size: 12px;
  font-weight: 300;
}

.img {
  text-align: center;
  margin-top: 30px;
}
.main img {
  width: 300px;
  border-radius: 10px;
}
/*FIM - SECTION 1*/
/*
  *
*/
/*SECTION 2 - ÁLBUNS*/
.albuns h1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.albuns p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 250px;
  margin: 20px 0px 20px 0px;
  background-color: black;
  border-radius: 20px;
}

.card img {
  width: 250px;
  border-radius: 20px;
}

.text {
  padding: 0px 30px 10px 30px;
}

.card h1 {
  color: white;
  font-size: 22px;
  margin: 20px 0px 10px 0px;
}

.card p {
  font-size: 16px;
  color: white;
}

.btOuvir {
  margin: 0px 30px 30px 30px;
}
.btOuvir button {
  padding: 10px;
  width: 100px;
  font-weight: 700;
  background-color: #00d355;
  border-radius: 20px;
}

.btOuvir button:hover {
  background-color: white;
  color: #00a140;
}
/*FIM - SECTION 2*/
/*
  *
*/
/*SECTION 3 */
.section3 {
  background-color: black;
}

.section3-content h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #06ff69;
  margin-bottom: 15px;
}

.section3-content p {
  font-size: 16px;
  font-weight: 400;
}

.bt-section3 {
  margin: 50px 0px 30px 0px;
}
.bt-section3 button {
  padding: 10px;
  width: 100%;
  font-weight: 700;
  background-color: #00d355;
  border-radius: 20px;
  color: black;
}

.section3-content img {
  width: 280px;
  border-radius: 50px;
}
/*FIM - SECTION 3*/
/*
  *
*/
/*SECTION*/
/*
  *
*/
/*REPONSIVE SCREEN SIZES*/
@media screen and (min-width: 768px) {
  /*NAVBAR*/

  .btMenu {
    display: none;
  }
  .btFechar {
    display: none;
  }

  .navbar ul {
    float: right;
    margin-top: 20px;
  }

  .navbar-itens {
    display: inline;
    position: static;
    width: 450px;
    height: 50px;
    float: right;
  }

  .navbar-itens li {
    display: inline;
    margin: 0px 10px 0px 10px;
  }

  .navbar-itens a {
    font-size: 15px;
  }
  /*FIM - NAVBAR*/
  /*
     *
  */
  /*SECTION 1 - MUSICA PARA TODOS*/
  .main h1 {
    font-size: 60px;
  }

  .main p {
    font-size: 20px;
  }

  .button {
    width: 300px;
    text-align: left;
  }

  .button button {
    width: 300px;
  }
  /*FIM - SECTION 1*/
  /*
    *
  */
  /*SECTION 2 - ALBUNS*/
  #title-albuns {
    font-size: 30px;
  }

  #subtitle-albuns {
    font-size: 16px;
  }
  /*FIM - SECTION 2*/
  /*
    *
  */
  /*SECTION 3*/
  .section3-content h1 {
    font-size: 45px;
  }

  .section3-content p {
    font-size: 20px;
  }

  .bt-section3 {
    width: 300px;
    text-align: left;
  }

  .bt-section3 button {
    width: 300px;
  }
  /*FIM - SECTION 3*/
  /*
    *
  */
  /*SECTION */
}

@media screen and (min-width: 992px) {
  /*NAVBAR*/
  .logo {
    margin-left: 20%;
  }

  .navbar-itens {
    margin-right: 20%;
  }
  /*FIM -  NAVBAR*/
  /*
    * 
  */
  /*SECTION 1 - MUSICA PARA TODOS*/
  .recuo {
    padding: 90px 20% 90px 20%;
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .main h4 {
    text-align: left;
    font-size: 14px;
  }

  .img {
    padding: 0px 0px 0px 50px;
  }
  .main img {
    width: 400px;
  }
  /*FIM - SECTION 1*/
  /*
    *
  */
  /*SECTION 3*/
  .section3-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .section3-content h4 {
    text-align: left;
    font-size: 14px;
  }

  .section3-content img {
    width: 400px;
  }
  /*FIM - SECTION 3*/
  /*
    *
  */
  /*SECTION */
}
